{% extends "site_app/global/base.html" %}
{% load static %}
{% block content %}
<style>
    body {
        background-color: #ffffff; /* Cor de fundo */
    }

    .atualizar {
        background-color: #ffffff; /* Cor de fundo */
        padding: 20px; /* Espaçamento interno */
        border-radius: 10px; /* Borda arredondada */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    }
    
    .atualizar h3 {
        color: #007bff; /* Cor do texto */
        font-size: 24px; /* Tamanho da fonte */
        font-weight: bold; /* Negrito */
        text-align: center; /* Alinhamento central */
    }
    
    .atualizar p {
        color: #343a40; /* Cor do texto */
        font-size: 16px; /* Tamanho da fonte */
        line-height: 1.5; /* Espaçamento entre linhas */
        margin-bottom: 10px; /* Espaçamento inferior */
        text-align: center; /* Alinhamento central */
    }
    
    </style>
<body>
<div class="atualizar" style="background-image: url('{%static 'img/bg.png'%}');  background-position:center; background-size: cover; background-repeat: no-repeat;">
    <br><br>
    <h3> Atualizar Cadastro</h3><br>

    <form action="{% url 'update' cadastrado.id %}" method="post">
        <div class="form-row">
        {% csrf_token %}
        <div class="col">
            <input type="text" class="form-control" name="nome" value="{{cadastrado.nome}}" />
        </div>
        <div class="col">
            <input type="date" class="form-control" name="datadenascimento" value="{{cadastrado.datadenascimento|date:"c"}}" />
        </div>
        <div class="col">
            <input type="text" class="form-control" name="email" value="{{cadastrado.email}}" />
        </div>
        <div class="col">
            <input type="text" class="form-control" name="pais" value="{{cadastrado.pais}}" />
        </div>
        <div class="col-30">
            <button type="submit" class="btn btn-warning">Salvar</button>
        </div> 
</div>
    </form>
    </div>
    <br><br><br><br>
    <h3> Dados antigos</h3><br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Email</th>
            <th>País de trabalho</th>
            <th></th>
        </tr>
        </thead>
    <tbody>                  
        <tr>
            <td width="27%">{{cadastrado.nome}}</td>
            <td width="27%">{{cadastrado.datadenascimento|date:" d/m/Y" }}</td>
            <td width="27%">{{cadastrado.email}}</td>
            <td width="27%">{{cadastrado.pais}}</td>
        </tr>
    </tbody>
</div>
{% endblock content %}

